
#A detection opportunity arises when an adversary attempts to reuse a stolen web session cookie in an org with well-configured authentication policies. The following analytic looks for multiple attempts to open app chiclets with no successful response to an authentication challenge.
#This analytic: 
#  1. Retrieves policy evaluation and SSO details in events that contain the Application requested
#  2. Formats target fields so we can aggregate specifically on Applications (AppInstances)
#  3. Groups by User, Session and IP
#  4. Creates a ratio of successful SSO events to total MFA challenges related to Application Sign On Policies
#  5. Alerts when more than half of app sign on events are unsuccessful, and challenges were unsatisfied for more than three apps.

#Splunk reference: https://research.splunk.com/application/1c21fed1-7000-4a2e-9105-5aaafa437247/
#Okta reference: https://sec.okta.com/shareddetections
#MITRE reference: https://attack.mitre.org/techniques/T1538/, https://attack.mitre.org/techniques/T1550/004/

index=okta 
target{}.type=AppInstance (eventType=policy.evaluate_sign_on outcome.result=CHALLENGE) OR (eventType=user.authentication.sso outcome.result=SUCCESS) 
| eval targets=mvzip('target{}.type', 'target{}.displayName', ": ") 
| eval targets=mvfilter(targets LIKE "AppInstance%") 
| stats count min(_time) as _time values(outcome.result) as outcome.result dc(eval(if(eventType="policy.evaluate_sign_on",targets,NULL))) as total_challenges sum(eval(if(eventType="user.authentication.sso",1,0))) as total_successes by authenticationContext.externalSessionId targets actor.alternateId client.ipAddress 
| search total_challenges > 0 
| stats min(_time) as _time values(*) as * sum(total_challenges) as total_challenges sum(total_successes) as total_successes values(eval(if("outcome.result"="SUCCESS",targets,NULL))) as success_apps values(eval(if(":outcome.result"!="SUCCESS",targets,NULL))) as no_success_apps by authenticationContext.externalSessionId actor.alternateId client.ipAddress 
| fillnull value=NULL
| eval ratio=round(total_successes/total_challenges,2), severity="HIGH", mitre_technique_id="T1538", description="actor.alternateId". " from " . "client.ipAddress" . " seen opening " . total_challenges . " chiclets/apps with " . total_successes . " challenges successfully passed" 
| fields - count, targets 
| search ratio < 0.5 total_challenges > 2 
| `okta_multiple_failed_requests_to_access_applications_filter`
